<h1>Flexible Payment</h1>

<p> A <%= @number_of_years_flex %> year loan of <%= @present_value_flex %>, with an interest rate of is <%= @monthly_interest_percentage_flex %>%, requires a monthly payment of <%= @monthly_payment_flex %> </p>