<h1>Flexible Payment</h1>

<p> A <%= @number_of_years %> year loan of <%= @principal %>, with an interest rate of is <%= @monthly_interest_percentage %>, requires a monthly payment of <%= @monthly_payment %> </p>