<h1>Payment Results</h1>

  <dl>
     <dt>Part I Targets</dt>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square/new"> Flexible Square Example </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square_root/new"> Flexible Square Root Example </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/flexible/payment/new"> Flexible Payment Example </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/flexible/random/new"> Flexible Random Example </a></dd>
    
    <dt>Part II Targets</dt>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/square/new"> Square Form </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/square_root/new"> Square Root Form </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/payment/new"> Payment Form </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/random/new"> Random Number Form </a></dd>
    
    <dt>Part III Targets</dt>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Word Count Form </a></dd>
     <dd><a href = "https://omnicalc-params-emklick.c9users.io/descriptive_stats/new"> Stats Form </a></dd>
    
</d1>