<h1>Payment Results</h1>

    <div>
      <p>APR</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@apr/p>-->
    <!--</div>-->
    
    <div>
      <p>Number of years</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@number_of_years</p>-->
    <!--</div>-->
    
    <div>
      <p>Principal</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@principal</p>-->
    <!--</div>-->
    
    <div>
      <p>Payment</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@monthly_payment</p>-->
    <!--</div>-->
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/payment/new"> Calculate another payment</a>