<h1>Payment Results</h1>

    <div>
      <p>APR</p>
    </div>
 
     <div>
      @monthly_interest_percentage
    </div>
    
    <div>
      <p>Number of years</p>
    </div>
    
    <div>
      @number_of_years
    </div>
    
    <div>
      <p>Principal</p>
    </div>
 
     <div>
      @principal
    </div>
    
    <div>
      <p>Payment</p>
    </div>
 
     <div>
      @monthly_payment
    </div>
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/payment/new"> Calculate another payment</a>