<h1>Random Results</h1>

    <div>
      <p>Minimum</p>
    </div>
 
     <div>
      @minimum
    </div>
    
    <div>
      <p>Maximum</p>
    </div>
    
    <div>
      @maximum
    </div>
    
        <div>
      <p>Random Number</p>
    </div>
    
    <div>
      @random_number
    </div>
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/random/new"> Pick another random number</a>