<h1>Omnicalc Params</h1>

  <table>
     <tr>
     <th>Part I Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square/"> Flexible Square Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square_root/"> Flexible Square Root Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/payment/new"> Flexible Payment Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/random/"> Flexible Random Example </a></td>
    </tr>
    
    <tr>
     <th>Part II Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/square/new"> Square Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/square_root/new"> Square Root Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/payment/new"> Payment Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/random/new"> Random Number Form </a></td>
    </tr>
    
    <tr>
     <th>Part III Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Word Count Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/descriptive_stats/new"> Stats Form </a></td>
    </tr>



    <tr>
      <th>
        
    <h2> Random Calculation</h2>

<form action="/random/results">
  <div>
    <label for="random_minimum_input">
      Minimum
    </label>
  
    <input id="random_minimum_input" type="text" name="minimum" placeholder = "Example 2.7">
  </div>
  
  <div>
    <label for="random_maximum_input">
      Maximum
    </label>
  
    <input id="random_maximum_input" type="text" name="maximum" placeholder = "Example 7.7">
  </div>
  
        <button>
          Pick random number
        </button>
</form>    
      
      </th>
    </tr>
    </table>