<h1>Random Results</h1>

    <div>
      <p>Minimum</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@minimum</p>-->
    <!--</div>-->
    
    <div>
      <p>Maximum</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@maximum</p>-->
    <!--</div>-->
    
        <div>
      <p>Random Number</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@random_number</p>-->
    <!--</div>-->
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/random/new"> Pick another random number</a>