<h1> Random Calculation</h1>

<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
  
    <input id="random_minimum_input" type="text" name="minimum" placeholder = "Example 2.7">
  </div>
  
  <div>
    <label>
      Maximum
    </label>
  
    <input id="random_maximum_input" type="text" name="maximum" placeholder = "Example 7.7">
  </div>
  
        <button>
          Pick random number
        </button>
</form>

