<h1> Square Root Calculation</h1>

<form>
  <div>
    <label>
      Enter a number
    </label>
  
    <input id="number_input" type="text" name="the_user_number" placeholder = "Enter Number Here...">
  </div>
    
  <button>Calculate square root </button>
</form>


