<h1> Square Calculation</h1>

<form action="/square/results">
  <div>
    <label>
      Enter a number
    </label>
  
    <input id="number_input" type="text" name="the_user_number" placeholder = "Enter Number Here...">
  </div>
    
        <button>
          Calculate square
        </button>
</form>


<!--<a href = "https://www.google.com"> Go to Google </a>-->
<!--<a doesn't work if you close off the starting <a with the ending > -->