<h1>Square Root Results</h1>

    <div>
      <p>Number</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@user_number</p>-->
    <!--</div>-->
    
    <div>
      <p>Square Root</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@squared_number</p>-->
    <!--</div>-->
    
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/square_root/new"> Calculate another square root</a>