<h1>Payment Results</h1>

    <div>
      <p>Numbers Entered</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@stats_numbers</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Sorted Numbers</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@sorted_numbers</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Count</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@count</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Minimum</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@minimum_stats</p>-->
    <!--</div>-->
    
    <div>
      <p>Maximum</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@maximum_stats</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Range</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@range</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Median</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@median</p>-->
    <!--</div>-->
    
    
    <div>
      <p>Sum</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@sum</p>-->
    <!--</div>-->
    
    <div>
      <p>Mean</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@mean</p>-->
    <!--</div>-->
    
    <div>
      <p>Variance</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@variance</p>-->
    <!--</div>-->
    
    <div>
      <p>Standard Deviation</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@standard_deviation</p>-->
    <!--</div>-->
    
    <div>
      <p>Mode</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@mode</p>-->
    <!--</div>-->
    
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/descriptive_stats/new"> Calculate another Descriptive Stats</a>