<h1> Stats Calculation</h1>

<form action="/descriptive_stats/results">
  <div>
    <label>
      Numbers
    </label>
  
    <input id="list_of_numbers_input" type="text" name="stats_numbers" placeholder = "Enter a list of numbers">
  </div>
  
  
  <button>Calculate Descriptive Statistics</button>
</form>

