<h1>Payment Results</h1>

    <div>
      <p>Numbers Entered</p>
    </div>
 
     <div>
      @stats_numbers
    </div>
    
    
    <div>
      <p>Sorted Numbers</p>
    </div>
    
    <div>
      @sorted_numbers
    </div>
    
    
    <div>
      <p>Count</p>
    </div>
 
     <div>
      @count
    </div>
    
    
    <div>
      <p>Minimum</p>
    </div>
 
     <div>
      @minimum_stats
    </div>
    
    <div>
      <p>Maximum</p>
    </div>
 
     <div>
      @maximum_stats
    </div>
    
    
    <div>
      <p>Range</p>
    </div>
 
     <div>
      @range
    </div>
    
    
    <div>
      <p>Median</p>
    </div>
 
     <div>
      @median
    </div>
    
    
    <div>
      <p>Sum</p>
    </div>
 
     <div>
      @sum
    </div>
    
    <div>
      <p>Mean</p>
    </div>
 
     <div>
      @mean
    </div>
    
    <div>
      <p>Variance</p>
    </div>
 
     <div>
      @variance
    </div>
    
    <div>
      <p>Standard Deviation</p>
    </div>
 
     <div>
      @standard_deviation
    </div>
    
    <div>
      <p>Mode</p>
    </div>
 
     <div>
      @mode
    </div>
    
    
    <a href = "https://omnicalc-params-emklick.c9users.io/flexible/descriptive_stats/new"> Calculate another Descriptive Stats</a>