<h1> Payment Calculation</h1>

<form>
  <div>
    <label>
      APR
    </label>
  
    <input id="interest_input" type="text" name="the_user_interest" placeholder = "Example 2.77">
  </div>
  
  <div>
    <label>
      Number of Years
    </label>
  
    <input id="years_input" type="text" name="the_user_payment_years" placeholder = "How many years to repayment?">
  </div>
  
  <div>
    <label>
      Principal
    </label>
  
    <input id="principal_input" type="text" name="the_user_principal" placeholder = "How much principal">
  </div>
    
  <button>Calculate Monthly Payment</button>
</form>

