<h1> Stats Calculation</h1>

<form>
  <div>
    <label>
      Numbers
    </label>
  
    <input id="@stats_numbers" type="text" name="stats_numbers" placeholder = "Enter a list of numbers">
  </div>
  
  
  <button>Calculate Descriptive Statistics</button>
</form>

