<h1>Word Count Results</h1>

    <div>
      <p>Text</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@user_text</p>-->
    <!--</div>-->
    
    <div>
      <p>Word Count</p>
    </div>
    
    <!--<div>-->
    <!--  <p>@word_count</p>-->
    <!--</div>-->
    
    <div>
      <p>Character Count (with spaces)</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@character_count_with_spaces</p>-->
    <!--</div>-->
    
    <div>
      <p>Character Count (without spaces)</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@character_count_without_spaces</p>-->
    <!--</div>-->
    
    <div>
      <p>Occurances of @special_word</p>
    </div>
 
    <!-- <div>-->
    <!--  <p>@monthly_payment</p>-->
    <!--</div>-->
    
    <a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Process more text</a>