<h1>Word Count Results</h1>

    <div>
      <p>Text</p>
    </div>
 
     <div>
      @text
    </div>
    
    <div>
      <p>Word Count</p>
    </div>
    
    <div>
      @word_count
    </div>
    
    <div>
      <p>Character Count (with spaces)</p>
    </div>
 
     <div>
      @character_count_with_spaces
    </div>
    
    <div>
      <p>Character Count (without spaces)</p>
    </div>
 
     <div>
      @character_count_without_spaces
    </div>
    
    <div>
      <p>Occurances of @special_word</p>
    </div>
 
     <div>
      @occurrences = downcased_words.count(downcased_special)
    </div>
    
    <a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Process more text</a>