<h1> Word Count Calculation</h1>

<form action="/word_count/results">
  <div>
    <label>
      Text
    </label>
  
    <input id="word_count_input" type="text" name="user_text" placeholder = "Enter some text">
  </div>
  
  <div>
    <label>
      Special word
    </label>
  
    <input id="special_word_input" type="text" name="special_word" placeholder = "Enter a particular word">
  </div>
  
    
  <button>Process Text</button>
</form>

